<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="favicon.ico"/>
    <title th:utext="Подтверждение"></title>
    <style th:replace="~{css-script/css-template :: styles}"></style>
</head>
<body>
    <header th:replace="header-footer/header :: non-auth"></header>
    <div class="conteiner-fluid">
        <main class="d-flex justify-content-center">
            <form class="border border-warning rounded p-4 mt-5" id="confirmationForm" role="form"
                  th:action="@{/confirm}" method="post">
                <h4 class="mb-4" th:utext="Подтверждение">Подтверждение</h4>
                <div th:if="${successMessage}" class="alert alert-success" role="alert"
                     th:text=${successMessage}></div>
                <div th:if="${invalidToken}" class="alert alert-danger"
                     role="alert" th:text=${invalidToken}></div>

                <!--<input type="hidden" name="token" th:value=${confirmationToken}  >-->

                <!--<button type="Confirm"-->
                        <!--class="btn btn-primary block full-width m-b">Confirm-->
                <!--</button>-->
            </form>
        </main>
    </div>
    <div th:replace="~{css-script/script-template :: scripts}"></div>
</body>
</html>