<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <style th:replace="~{css-script/css-template :: styles}"></style>
</head>
<body>
    <header th:replace="header/non-auth :: header"></header>
    <div class="conteiner-fluid">
        <main class="d-flex justify-content-center">
            <div class="border border-primary rounded p-4 mt-5">
                <h3 class="mb-4">Введите данные для авторизации</h3>
                <form th:action="@{/login}" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Почта</span>
                        </div>
                        <input name="email" type="email" class="form-control" placeholder="kolya1985@email.com">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Пароль</span>
                        </div>
                        <input name="password" type="password" class="form-control" placeholder="****">
                    </div>
                    <div class="row justify-content-center">
                        <input name="submit" type="submit" class="btn btn-primary" value="Отправить">
                    </div>
                </form>
                <div id="errorMessage" class="text-danger" th:if="${errorMessage}">
                    <span th:utext="${errorMessage}">Error message</span>
                </div>
            </div>
        </main>
    </div>
    <div th:replace="~{css-script/script-template :: scripts}"></div>
</body>
</html>