<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <style th:replace="~{css-script/css-template :: styles}"></style>
</head>
<body>
    <header th:replace="header-footer/header :: non-auth"></header>
    <div class="conteiner-fluid">
        <main class="d-flex justify-content-center">
            <div class="border border-primary rounded p-4 my-5">
                <h3 class="mb-4">Введите данные для авторизации</h3>
                <form th:action="@{/login}" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Почта</span>
                        </div>
                        <input name="email" type="email" class="form-control" th:placeholder="'Введите почту'">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Пароль</span>
                        </div>
                        <input name="password" type="password" class="form-control" th:placeholder="'Введите пароль'">
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <input name="submit" type="submit" class="btn btn-primary mr-4" th:value="Войти">
                        <a th:href="@{/recovery-password}" class="btn btn-secondary disabled"
                           th:utext="'Забыли пароль?'"></a>
                    </div>
                </form>
                <div id="errorMessage" class="text-danger" th:if="${errorMessage}">
                    <span th:utext="${errorMessage}">Error message</span>
                </div>
            </div>
        </main>
    </div>
    <div th:replace="~{css-script/script-template :: scripts}"></div>
</body>
</html>