<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="User account registration"/>
    <meta name="author" content=""/>
    <link rel="icon" href="favicon.ico"/>
    <title th:utext="'Восстановление пароля'"></title>
    <style th:replace="~{css-script/css-template :: styles}"></style>
</head>
<body>
    <header th:replace="header-footer/header :: non-auth"></header>
    <div class="conteiner-fluid">
        <main class="d-flex justify-content-center">
            <div class="border border-primary rounded p-4 mt-5">
                <h4 class="mb-4">Введите новый пароль</h4>
                <form autocomplete="off" action="#" th:action="@{/reset-password}"
                      method="post" class="m-t" role="form"
                      data-toggle="validator">
                    <div th:if="${confirmationMessage}" class="alert alert-success"
                         role="alert" th:text=${confirmationMessage}></div>
                    <div th:if="${errorMessage}"
                         class="alert alert-danger" role="alert"
                         th:text="${errorMessage}"></div>

                    <input type="hidden" id="token" name="token" th:value=${token} />

                    <div class="form-group input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:utext="Пароль"></span>
                            </div>
                            <input name="password" type="password" id="password"
                                   placeholder="******" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group input-group has-feedback">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:utext="'Повторите пароль'"></span>
                            </div>
                            <input type="password" class="form-control" id="signup-password-confirm"
                                   placeholder="******"
                                   name="ConfirmPassword" data-fv-notempty="true"
                                   data-fv-notempty-message="Please confirm password"
                                   data-fv-identical="true"
                                   data-fv-identical-field="password"
                                   data-fv-identical-message="Both passwords must be identical"/>
                        </div>

                        <div class="help-block with-errors"></div>
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b" th:utext="Отправить"></button>
                </form>
            </div>
        </main>
    </div>

    <div th:replace="~{css-script/script-template :: scripts}"></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <script th:src="@{js/fv.min.js}"></script>
    <script>
        $(document).ready(function () {
            $('#passwordForm').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {

                    password: {
                        validators: {
                            notEmpty: {
                                message: 'The password is required'
                            },
                            callback: {
                                callback: function (value, validator, $field) {
                                    var password = $field.val();
                                    if (password == '') {
                                        return true;
                                    }

                                    var result = zxcvbn(password),
                                        score = result.score,
                                        message = result.feedback.warning || 'The password is weak';

                                    // Update the progress bar width and add alert class
                                    var $bar = $('#strengthBar');
                                    switch (score) {
                                        case 0:
                                            $bar.attr('class', 'progress-bar progress-bar-danger')
                                                .css('width', '1%');
                                            break;
                                        case 1:
                                            $bar.attr('class', 'progress-bar progress-bar-danger')
                                                .css('width', '25%');
                                            break;
                                        case 2:
                                            $bar.attr('class', 'progress-bar progress-bar-danger')
                                                .css('width', '50%');
                                            break;
                                        case 3:
                                            $bar.attr('class', 'progress-bar progress-bar-warning')
                                                .css('width', '75%');
                                            break;
                                        case 4:
                                            $bar.attr('class', 'progress-bar progress-bar-success')
                                                .css('width', '100%');
                                            break;
                                    }

                                    // We will treat the password as an invalid one if the score is less than 3
                                    if (score < 3) {
                                        return {
                                            valid: false,
                                            message: message
                                        }
                                    }

                                    return true;
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>

</body>

</html>