<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
    <style th:replace="~{css-script/css-template :: styles}"></style>
</head>
<body>
    <header th:replace="header-footer/header :: auth"></header>
    <div class="container-fluid">
        <main role="main" class="container-fluid">
            <div class="my-3" id="task-table">
                    <div id="datePanel" class="col">
                        <h3>
                            <span th:utext="'Дата: '+${#dates.format(date, 'dd.MMM.yyyy')}"></span>
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target="#changeDate"
                                    aria-expanded="false" aria-controls="changeDate">Выбрать дату
                            </button>
                        </h3>
                        <div class="collapse" id="changeDate">
                            <div class="card card-body">
                                <form class="input-group mb-3" th:action="@{/task/change-date}">
                                    <input class="form-control" type="date" name="newdate">
                                    <div class="input-group-append">
                                        <input type="submit" value="Перейти" class="btn btn-secondary"
                                               style="width: auto">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <table id="plannedData" class="table table-striped m-tb-1">
                    <thead>
                    <tr class="sup-head">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="3" class="align-center border">Планируемое время</th>
                        <th></th>
                        <th colspan="3" class="align-center border">Фактическое время</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="sub-head">
                        <th>Статус</th>
                        <th>Название</th>
                        <th>Категория</th>
                        <th>Приоритет</th>
                        <th class="border-left">Начало</th>
                        <th>Длительность</th>
                        <th class="border-right">Время окончания</th>
                        <th>Комментарии</th>
                        <th class="border-left">Начало</th>
                        <th>Длительность</th>
                        <th class="border-right">Время окончания</th>
                        <th>Редактирование</th>
                        <th>Удаление</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${taskList}">
                        <td th:utext="${task.taskStatus}"></td>
                        <td th:utext="${task.name}"></td>
                        <td th:utext="${task.taskCategory.name}"></td>
                        <td th:utext="${task.taskImportance}"></td>
                        <td th:utext="${#dates.format(task.plannedStartTime, 'HH:mm')}"></td>
                        <div th:if="${task.plannedDuration}">
                            <td th:utext="${#dates.format(task.plannedDuration, 'HH:mm')}"></td>
                        </div>
                        <div th:unless="${task.plannedDuration}">
                            <td></td>
                        </div>
                        <td th:utext="${#dates.format(task.plannedEndTime, 'HH:mm')}"></td>
                        <td th:utext="${task.taskComment}"></td>
                        <td th:utext="${#dates.format(task.actualStartTime, 'HH:mm')}"></td>
                        <div th:if="${task.actualDuration}">
                            <td th:utext="${#dates.format(task.actualDuration, 'HH:mm')}"></td>
                        </div>
                        <div th:unless="${task.actualDuration}">
                            <td></td>
                        </div>
                        <td th:utext="${#dates.format(task.actualEndTime, 'HH:mm')}"></td>
                        <td>
                            <form th:action="@{/task/edit}" th:method="post">
                                <button class="btn btn-success" type="submit" name="taskId" th:value="${task.id}">
                                    <i class="far fa-edit"></i>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/task/delete}" th:method="post">
                                <button class="btn btn-success" type="submit" name="taskId" th:value="${task.id}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <a th:href="@{/task/task-create}" class="btn btn-success" th:utext="'Добавить задачу'"></a>
                </div>
            </div>
        </main>
    </div>
    <footer></footer>
</div>
<div th:replace="~{css-script/script-template :: scripts}"></div>
</body>
</html>