<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <style th:replace="~{css-script/css-template :: styles}"></style>
</head>
<body>
    <header th:replace="header-footer/header :: auth"></header>
    <div class="container-fluid">
        <main class="d-flex justify-content-center align-items-center" style="height: 80vh">
            <div class="border rounded p-4">
                <div class="d-flex justify-content-center">
                    <h3 class="mb-4">Профиль</h3>
                </div>
                <div>
                    <table class="table-borderless" th:object="${user}">
                        <tr>
                            <td class="font-weight-bold">Имя</td>
                            <td th:utext="*{firstName}"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Фамилия</td>
                            <td th:utext="*{lastName}"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Почта</td>
                            <td th:utext="*{email}"></td>
                        </tr>
                    </table>
                    <a href="#" class="btn btn-secondary my-3" role="button">Редактировать</a>
                    <a href="#" class="btn btn-secondary my-3" role="button">Изменить пароль</a>
                </div>
            </div>
        </main>
    </div>
    <footer></footer>
    <div th:replace="~{css-script/script-template :: scripts}"></div>
</body>
</html>