<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="Планировщик"></title>
    <style th:replace="~{css-script/css-template :: styles}"></style>
</head>
<body>
    <header th:replace="header-footer/header :: non-auth"></header>
    <div class="conteiner-fluid">
        <main class="d-flex justify-content-center">
            <h1 class="mt-5">Планировщик дня =)</h1>
        </main>
    </div>
    <footer></footer>
    <div th:replace="~{css-script/script-template :: scripts}"></div>
</body>
</html>